 root {
    display: flex; 
    
    flexGrow: 1; 
    
    /* margin: theme.spacing(2), */
  }
  
  
  
  .paper {
    /* padding: theme.spacing(2), */
    textAlign: left; 
    
    /* color: theme.palette.text.secondary, */
  }
  
  
  .title {
    fontWeight: bold; 
    fontSize: 1.5rem; 
    
  }
  
  
  .subtitle {
    fontWeight: bold;
    fontSize: 1.2rem;
  }
  
  button {
    /* marginTop: theme.spacing(2), */
    /* marginBottom: theme.spacing(2), */
  }