*{


box-sizing: border-box !important;
    
}




/* Try centering the card content here  */








@media(max-width: 500px){
    
    #gridSection{
    display: grid !important;
    justify-content: center !important;
    /* margin-left: 0.3% !important; */
    overflow-x: hidden !important;
    
    
    }
}

